
<h2>Por región</h2>
<hr >
<div class="row">
  <div class="col text-center">
    <!-- Search box  -->
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-dark' : selectedRegion === region }"
      (click)="searchByRegion(region)"
      >
      {{ region }}
    </button>
  </div>
</div>

<hr>

<div class="row ">
  <div class="col">
    <shared-loading-spinner *ngIf="isLoanding" ></shared-loading-spinner>
    <!-- Countries table -->
    <countries-table
    [countries]="countries"
    ></countries-table>
  </div>
</div>
